{% extends "base.html" %}

{% block content %}
    {% if messages %}
        <ul class="edit" align="center">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="" class="close-btn">✖</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col s6">
            <h3>{{ user.get_full_name }}</h3>
            <p>Email: {{ user.email }}</p>
            <p>Телефон: {{ user.profile.phone }}</p>
            <p>Кабинет: {{ user.profile.location }}</p>
        </div>
        <div class="image">
            <div class="col s6">

                <img height="350" width="300" src="{{ user.profile.image.url }}">

            </div>
        </div>
        {% if user.username == request.user.username %}
            <button type="submit" class="save btn waves waves-effect btn-default blue accent-4">
                <a href="{% url 'edit_profile' username=request.user.username %}">Изменить профиль</a>
            </button>
        {% endif %}
    </div>
{% endblock %}
{% block application %}
{% endblock %}