{% extends "base.html" %}
{% block content %}
    <div class="profile_edit">
        <h1>Изменить ваш аккаунт</h1>
        <p>Вы можете изменить ваш акканут используя следующую форму:</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for user_form in user_form %}
                <div class="input-field">
                    {{ user_form }}
                    {{ user_form.label_tag }}
                </div>
            {% endfor %}
            {% for profile_form in profile_form %}
                <div class="input-field">
                    {{ profile_form }}
                    {{ profile_form.label_tag }}
                </div>
            {% endfor %}
            <button type="submit" class="save btn waves waves-effect btn-default blue accent-4">Сохранить изменения
            </button>
        </form>
    </div>
{% endblock %}
{% block application %}
{% endblock %}