{% extends "base.html" %}
{% block login %}
<div class="login-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="login">
                    <h3  align = "center">Вход</h3>
                    <form action="." method="post">
                            {% if form.errors %}
                            <div class="login-error-message">
                                Ваше имя пользователя и пароль не совпадают.
                                Пожалуйста, попробуйте еще раз
                            </div>
                            {% else %}
                                <div class="login-succes-message">Пожалуйста, используйте эту форму для входа.</div>
                            {% endif %}
                        {% csrf_token %} 
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% for field in form %}
                        <div class="input-field">
                                {{ field }}
                                {{ field.label_tag }}
                                </div>
                        {% endfor %}
                        {% csrf_token %}  
                        <div class="form-group center">
                            <button class="btn btn-large blue accent-4">Войти</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}


            