.image {
	margin-top: 50px;
}

.navbar-fixed nav {
	z-index: 999;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
  
.content { /* основное содержимое сайта */
	background-color: #fbfbfb;
	min-height: 100vh;
	margin-top: -64px;
	padding-top: 64px;
	margin-bottom: -208px;
	padding-bottom: 208px;
		
}

#controls-header .btn {
	/* margin-left: 15px; */
	/* margin-top: 15px; */
}
.footer { /* собственно подвал, расположенный сразу за .content */
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 120px;
}
.copyright {
	font-weight: 400;
}
.new {
    margin-bottom: 120px;
}
.login-wrapper {
	display: flex;
	align-items: center;
	min-height: 100vh;
	margin-bottom: -208px;
	padding-bottom: 208px;
}

.btn {
	border-radius: 5px !important;
}

.edit {
	color: green;
	background-color: silver;
	align-content: center;
}
.input-field input:focus + label, .input-field textarea:focus + label {
	color: #2962ff !important; 
}
/* label underline focus color */
.input-field input:focus, .input-field textarea:focus {
	border-bottom: 1px solid #2962ff !important;
	box-shadow: 0 1px 0 0 #2962ff !important; 
}
/* TICKETS */
.all-tickets, .offset-top {
	margin-top: 40px;
}
.disable-card:hover {
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
}
.card {
	border-radius: 10px !important;
	position: relative;
}
.card .card-action:last-child {
	border-radius: 0 0 10px 10px !important; 
}
.card:hover {
	-webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
.card::before {
	content: attr(data-desc);
	position: absolute;
	color: #fff;
	/* background-color: ; */
	border-radius: 10em;
	padding: 0 15px;
	right: 10px;
	top: -10px;
}
.in-the-work::before {
	background-color: #bf360c;
}
.new::before {
	background-color: #1b5e20;
}
.complited::before {
	background-color: #263238;
}
.complited {
	/* filter: grayscale(50); */
}
.card-content  {
	min-height: 135px;
}
.card-title {
	font-weight: 600 !important;
}
.card-date {
	font-size: 12px;
	font-weight: 100;
}
.author {
	display: flex;
	align-items: center;
}
.card-action {
	border-top: 1px solid rgba(255,255,255,0.2) !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.author-photo {
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25px;
	width: 25px;
	margin-right: 10px;
}
.author-name {
	text-transform: capitalize;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 130px;
}
.rounded {
	border-radius: 50%;
}

/* PROFILE */
.profile {
	margin-top: 50px;
}
.profile-image {
	width: 100%;
	padding-top: 120%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}

.ticket-control-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 15px 0;
	box-shadow: 0 1px 3px 0 rgba(31,47,66,.12), 0 0 4px 0 rgba(31,47,66,.04);
}

/* chat */

.titanic {
    float: none;
}

.messages {
    position: relative;
    padding: 10px 10px 0 10px;
    margin: 0 0 0 0;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.messages .message.left .avatar {
    background-color: #f55946;
    float: left;
}

.messages .message.left .text_wrapper {
    background-color: #ffe6cb;
    margin-left: 20px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #ffe6cb;
}

.messages .message.left .text {
    color: #c48843;
}

.messages .message.right .avatar {
    background-color: #6877fd;
    float: right;
}

.messages .message.right .text_wrapper {
    background-color: #c7eafc;
    margin-right: 20px;
    float: right;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #c7eafc;
}

.messages .message.right .text {
    color: #45829b;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 18px;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

body {
    font-size: 15px;
}
