{% extends 'base.html' %}

{% block content %}
    <div class="all-tickets">
        <div class="row">
            <div class="col l8 offset-l2">
                <h4>Новая заявка</h4>
                <br>
                <form method="POST">
                    {% for field in form %}
                        <div class="input-field">
                            {{ field }}
                            {{ field.label_tag }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <button type="submit" class="save btn waves waves-effect btn-default blue accent-4">Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block application %}
{% endblock %}