{% extends 'base.html' %}
{% block content %}
    <div class="offset-top">
        <div class="row">
            <div class="col s12 l6">
                <div class="card disable-card">
                    <div class="card-content">
                        <span class="card-title light-text">{{ post.title }}</span>
                        <p>{{ post.text }}</p>
                    </div>
                    <div class="card-action">
                        {% if request.user == post.author and post.status != 'Complited' %}
                            <a class="waves-effect waves btn
                            btn-flat blue accent-4 white-text"
                               href="{% url 'application_edit' pk=post.pk %}">Редактировать</a>
                        {% endif %}
                        {% if perms.helpdesk.can_close and post.status != 'Complited' %}
                            {% if executor %}
                                <a class="waves-effect waves btn
                                    btn-flat blue accent-4 white-text"
                                   href='{% url 'complited' pk=post.pk %}'>Закончить</a>
                                <a class="waves-effect waves btn
                                    btn-flat blue accent-4 white-text"
                                   href='{% url 'take_off' pk=post.pk %}'>Снять</a>
                            {% else %}
                                <a class="waves-effect waves btn
                                    btn-flat blue accent-4 white-text"
                                   href='{% url 'perform' pk=post.pk %}'>Выполнить</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="header-problem">
                    <h4>{{ post.title }}</h4>
                </div>
                <ul>
                    <li>Кабинет: {{ post.room }} </li>
                    <li>Автор: <a
                            href="{% url 'profile' username=post.author %}">{% firstof post.author.get_full_name post.author.get_username %}</a>
                    </li>
                    <li>Дата: {{ post.published_date }}</li>
                    <li>Статус:
                        {% if post.status == "New" %}
                            Новая
                        {% elif post.status == "In the work" %}
                            В работе
                        {% elif post.status == "Complited" %}
                            Завершена
                        {% endif %}
                    </li>
                    <li>Исполнитель(и):
                        {% for executor in post.executor_set.all %}
                            <a href="{% url 'profile' username=executor.owner %}">
                                {% firstof executor.owner.get_full_name executor.owner.get_username %}
                            </a>
                            {% if not forloop.last %},
                            {% endif %}
                        {% empty %}
                            Исполнителя нет.
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block application %}
{% endblock %}
