<div class="new" align='right'>
    <div class="fixed-action-btn">
        <a href="{% url 'application_new' %}" class="btn-floating btn-large waves-effect waves-light red">
            <i class="material-icons">add</i></a>
    </div>
</div>
