{% extends 'base.html' %}

{% block content %}
<h1>Все заявки</h1>
<div class="row">
        {% for post in posts reversed %}
            <div class="col s12 m6 l6">
                <div class="card z-depth-2
                            {% if post.status == 'New' %} 
                                green lighten-1 new" data-desc="Новая заявка">
                            {%endif%}
                            {% if post.status == 'In the work' %}
                                deep-orange lighten-1 in-the-work" data-desc="Заявка в работе">
                            {%endif%}
                    <div class="card-content white-text">
                        <span class="card-title">{{ post.title }}</span>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                    <div class="card-action">
                        <a class="white-text 
                                {% if post.status == 'New' %}
                                    green lighten-2
                                {%endif%}
                                {% if post.status == 'In the work' %}
                                    deep-orange lighten-2
                                {%endif%}
                        btn btn-flat waves waves-effect" href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                        <span class="white-text card-date"> {{ post.published_date }} </span>
                        <a class="white-text author" href ="{% url 'profile' username=post.author %}">
                            <div class="author-photo small-photo rounded" style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                            <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
                    Пока здесь ничего нет.
            {%endfor%}
        </div>
{% include "helpdesk/pagination.html" with page=posts %}
{% endblock %} 