{% extends 'base.html' %}

{% block content %}
    <div class="all-tickets">
    {% if perms.helpdesk.can_close %}
        <div class="row">
            <h2>Выполнил</h2>
            {% for post in owner_history %}
                {% if post.status == 'Complited' %}
                    <div class="col s12 m6">
                        <div class="card z-depth-4 grey">
                            <div class="card-content white-text">
                                <span class="card-title">{{ post.title }}</span>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                            <div class="card-action">
                                <a class="white-text blue-grey lighten-2 btn btn-flat waves waves-effect"
                                   href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                                <span class="white-text card-date"> {{ post.published_date }} </span>
                                <a class="white-text author" href="{% url 'profile' username=post.author %}">
                                    <div class="author-photo small-photo rounded"
                                         style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                                    <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% empty %}
                    Пока здесь ничего нет.
            {% endfor %}
        </div>
        {% include "helpdesk/pagination.html" with page=auth_history %}
    {% endif %}
    <div class="row">
        <h2>Созданные</h2>
        {% for post in auth_history %}
            {% if post.status == 'Complited' %}
                <div class="col s12 m6">
                    <div class="card z-depth-4 grey">
                        <div class="card-content white-text">
                            <span class="card-title">{{ post.title }}</span>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                        <div class="card-action">
                            <a class="white-text blue-grey lighten-2 btn btn-flat waves waves-effect"
                               href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                            <span class="white-text card-date"> {{ post.published_date }} </span>
                            <a class="white-text author" href="{% url 'profile' username=post.author %}">
                                <div class="author-photo small-photo rounded"
                                     style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                                <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% empty %}
                Пока здесь ничего нет.
        {% endfor %}
    </div>
    {% include "helpdesk/pagination.html" with page=owner_history %}
    </div>
{%endblock%}