{% extends 'base.html' %}


{% block content %}
    <div class="all-tickets">
        {% if perms.helpdesk.can_close %}
            <div class="row">
                <div class="col l12">
                    <h4>Исполнитель</h4>
                </div>
                {% for post in owner %}
                    {% if post.status == 'In the work' %}
                        <div class="col s12 m6">
                            <div class="card z-depth-2 deep-orange lighten-1 in-the-work" data-desc="Заявка в работе">
                                <div class="card-content white-text">
                                    <span class="card-title">{{ post.title }}</span>
                                    <p>{{ post.text | linebreaksbr | truncatechars:80 }}</p>
                                </div>
                                <div class="card-action">
                                    <a class="white-text deep-orange lighten-2 btn btn-flat waves waves-effect"
                                       href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                                    <span class="white-text card-date"> {{ post.published_date }} </span>
                                    <a class="white-text author" href="{% url 'profile' username=post.author %}">
                                        <div class="author-photo small-photo rounded"
                                             style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                                        <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% empty %}
                    Пока здесь ничего нет.
                {% endfor %}
            </div>
            {% include "helpdesk/pagination.html" with page=owner %}
        {% endif %}
        <div class="row">
            <div class="col l12">
                <h4>Созданные</h4>
            </div>
            {% for post in auths %}
                {% if post.status == 'New' %}
                    <div class="col s12 m6 l6">
                        <div class="card z-depth-2 green lighten-1 new" data-desc="Новая заявка">
                            <div class="card-content white-text">
                                <span class="card-title">{{ post.title }}</span>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                            <div class="card-action">

                                <a class="white-text green lighten-2 btn btn-flat waves waves-effect"
                                   href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                                <span class="white-text card-date"> {{ post.published_date }} </span>
                                <a class="white-text author" href="{% url 'profile' username=post.author %}">
                                    <div class="author-photo small-photo rounded"
                                         style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                                    <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if post.status == 'In the work' %}
                    <div class="col s12 m6 l6">
                        <div class="card z-depth-2 deep-orange lighten-1 in-the-work" data-desc="Заявка в работе">
                            <div class="card-content white-text">
                                <span class="card-title">{{ post.title }}</span>
                                <p>{{ post.text|linebreaksbr }}</p>
                            </div>
                            <div class="card-action">
                                <a class="white-text deep-orange lighten-2 btn btn-flat waves waves-effect"
                                   href="{% url 'application_detail' pk=post.pk %}">Подробно</a>
                                <span class="white-text card-date"> {{ post.published_date }} </span>
                                <a class="white-text author" href="{% url 'profile' username=post.author %}">
                                    <div class="author-photo small-photo rounded"
                                         style="background-image: url(' {{ post.author.profile.image.url }} ')"></div>
                                    <div class="author-name">{% firstof post.author.get_full_name post.author.get_username %}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% empty %}
                    Пока здесь ничего нет.
            {% endfor %}
        </div>
        {% include "helpdesk/pagination.html" with page=auths %}

    </div>
{% endblock %} 

