{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Managment System</title>
    <link rel="stylesheet" href="{% static 'css/helpdesk.css' %}" type="text/css" media="screen"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<!-- Меню -->
{% block navbar %}
    {% if request.user.is_authenticated %}
        <div class="navbar-fixed">
            <nav class="blue accent-4">
                <div class="container">
                    <div class="nav-wrapper">
                        {% block title %}
                            <a href="{% url 'my_application' %}" class="brand-logo">Application Managment System</a>
                        {% endblock %}
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-moobile" class="right hide-on-med-and-down">
                            {% if perms.helpdesk.can_add_change or perms.helpdesk.can_close %}
                                <li><a href="{% url 'my_application' %}">Мои заявки</a></li>
                            {% endif %}
                            {% if perms.helpdesk.can_close %}
                                <li><a href="{% url 'application_list' %}">Все заявки</a></li>
                            {% endif %}
                            {% if perms.helpdesk.can_close or perms.helpdesk.can_add_change %}
                                <li><a href="{% url 'application_history' %}">История</a></li>
                            {% endif %}
                            <li>
                                <a class="dropdown-trigger" data-target="dropdown1">
                                    {% if request.user.get_full_name %}
                                        {{ request.user.get_full_name }}
                                    {% else %}
                                        {{ request.user.username }}
                                    {% endif %}
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                            <ul id="dropdown1" class="dropdown-content">
                                <li><a class="blue-text text-accent-4"
                                       href="{% url 'profile' username=request.user.username %}">Профиль</a></li>
                                <li><a class="blue-text text-accent-4" href="{% url 'logout' %}">Выход</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{% url 'my_application' %}">Мои заявки</a></li>
                <li><a href="{% url 'application_list' %}">Все заявки</a></li>
                <li><a href="{% url 'application_history' %}">История</a></li>
                <li><a href="{% url 'profile' username=request.user.username %}">Профиль</a></li>
                <li><a href="{% url 'logout' %}">Выход</a></li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
<!-- Заявки -->
{% if user.is_authenticated %}
    <div class="content">
        <div class="container">
            {% block content %}
            {% endblock %}
            <!-- Application new -->
            {% block application %}
                {% include "helpdesk/application_new.html" %}
            {% endblock %}
        </div>
    </div>
{% else %}
    {% block login %}
    {% endblock %}
{% endif %}
<!-- Footer -->
{% block footer %}
    <footer class="page-footer blue accent-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Центр информатизации и компьтеризации</h5>
                    <p class="grey-text text-lighten-4">text.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://kgeu.ru/">Сайт университета</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://e.kgeu.ru/">E-Learning</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <div class="copyright">© 2018</div>
            </div>
        </div>
    </footer>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>